[Unit]
Description=Failproof Android Wireless Battery Charging Controller
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/python3 /root/battery_manager.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
